.container {
    height: 100%;
}

#user-list {
    height: 100%;
    margin: 6px 14px;
    overflow: scroll;
}

#user-list p {
    font-size: 18px;
    text-align: center;
    padding-top: 40%;
}

.rows {
    padding: 6px 6px;
    border-bottom: solid 1px grey;
}

#name {
    font-size: larger;
    font-weight: bold;
    color: #080066;
}

#un {
    color: grey;
}

.rows:hover {
    cursor: pointer;
    background-color: #eeecfa;
}

#row:active {
    background-color: #eeecfa;
}