.container {
    height: 100%;
}

#user-list {
    height: 100%;
    margin: 14px 14px;
    overflow: scroll;
}

#user-list p {
    font-size: 18px;
    text-align: center;
    padding-top: 40%;
}

.rows {
    padding: 6px 6px;
    border-bottom: solid 1px grey;
}

#name {
    font-size: 18px;
    font-weight: bold;
    color: #802082
}

#un {
    color: #575757;
}

.ul-desc {
    color: #3d2d6a;
    line-height: 26px;
}

.rows:hover {
    cursor: pointer;
    background-color: #ffeffb;
}

@media screen and (max-width:460px) {
    #name {
        font-size: 16px;
    }
    #un {
        font-size: 14px;
    }
    .ul-desc {
        font-size: 14px;
    }
}