#user-details {
    height: 86%;
    margin: 6px 14px;
    overflow: scroll;
}

#user-details p {
    font-size: 18px;
    text-align: center;
    padding-top: 40%;
}

#user-head {
    display: flex;
    width: 100%;
    box-shadow: 0 -6px 14px 0 grey;
}

#avatar {
    padding: 4px 0 2px 12px;
}

#avatar img {
    width: 58px;
}

#head-text {
    padding: 18px 0 0 12px;
}

#greet {
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#ud-name {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
}

#del-user {
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

#del-user button {
    border: 0;
    width: 100px;
    height: 28px;
    font-size: 16px;
    background-color: #ffbfff;
}

#user-details section {
    padding: 6px 0;
    width: 100%;
    border-bottom: solid 1px #080060;
}

#user-details section table {
    width: 100%;
}

.section-headline {
    margin: 6px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
}

.title,
.value {
    padding: 4px 0;
}

.title {
    font-family: serif;
}

.value {
    padding-left: 10px;
    font-family: sans-serif;
}

#user-details section table tr:nth-child(odd) {
    background-color: #f2edff;
}

#del-user button:hover {
    cursor: pointer;
    background-color: #ffa4a4;
}

@media screen and (max-width:460px) {
    #avatar {
        padding: 2px 0 0 10px;
    }
    #avatar img {
        width: 54px;
    }
    #head-text {
        padding: 14px 0 0 8px;
    }
    #greet {
        font-size: 14px;
    }
    #ud-name {
        font-size: 16px;
    }
    #del-user button {
        width: 88px;
        height: 26px;
        font-size: 14px;
    }
    .section-headline,
    .title,
    .value {
        font-size: 14px;
    }
}